<div class="card">
    <div class="card-header">Options</div>
    <div class="card-body">
        <button type="button" class="btn btn-primary mr-2" (click)="logout()">Logout</button>
        <button type="button" class="btn btn-primary" (click)="renewToken()">Renew Token</button>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-success mr-2" (click)="callAuthorized()">Call Authorized</button>
        <button type="button" class="btn mr-2" [ngClass]="isAdmin ? 'btn-danger' : 'btn-success'" (click)="callAdministrator()">Call Administrator</button>
        <button type="button" class="btn mr-2" [ngClass]="isUser ? 'btn-danger' : 'btn-success'" (click)="callUser()">Call User</button>
        <button type="button" class="btn btn-success mr-2" (click)="callSendEmail()">Send Email</button>
        <button type="button" class="btn btn-success mr-2" (click)="GetClaims()">Call Get Claims</button>
        <button type="button" class="btn btn-danger" (click)="callMigrator()">Call Migrator</button>
    </div>
    <div class="card-footer text-muted" *ngIf="apiResponse">
        <span><b>Api response:</b> {{ apiResponse }}</span>
      </div>
  </div>